<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" name="description">
	<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" property="og:description">

	<meta content="{% if page.image %}{{ site.url }}/i{{ page.url }}01_720w.jpg{% else %}{{ site.image }}{% endif %}" property="og:image">
	<meta content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}" property="og:url">

	<meta content="{% if page.homepage %}{{ site.title }}{% else %}Titch — {{ page.title }}{% endif %}" property="og:title">
	<title>{% if page.homepage %}{{ site.title }}{% else %}Titch — {{ page.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/titch.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/peppermint.css" | prepend: site.baseurl }}">	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>